[submodule "xmarts/multi-branch"]
	path = xmarts/multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/xmarts_appraisal"]
	path = xmarts/xmarts_appraisal
	url = git@github.com:xmarts/xmarts_appraisal.git
	branch = 14.0

[submodule "xmarts/xmarts_e_learning"]
	path = xmarts/xmarts_e_learning
	url = git@github.com:xmarts/xmarts_e_learning.git
	branch = 14.0
[submodule "xmarts/xmarts-employee-information-csbp"]
	path = xmarts/xmarts-employee-information-csbp
	url = git@github.com:xmarts/xmarts-employee-information-csbp.git
	branch = 14.0

[submodule "xmarts/xma-service-desk"]
	path = xmarts/xma-service-desk
	url = git@github.com:xmarts/xma-service-desk.git
	branch = 14.0
