[submodule "xmarts/xmarts-employee-information-csbp"]
	path = xmarts/xmarts-employee-information-csbp
	url = git@github.com:xmarts/xmarts-employee-information-csbp.git
	branch = 14.0

[submodule "xmarts/xmarts_appraisal"]
	path = xmarts/xmarts_appraisal
	url = git@github.com:xmarts/xmarts_appraisal.git
	branch = 14.0

[submodule "xmarts/xma_viatical_control"]
	path = xmarts/xma_viatical_control
	url = git@github.com:xmarts/xma_viatical_control.git
	branch = 14.0

[submodule "xmarts/xmarts_branch_appraisal"]
	path = xmarts/xmarts_branch_appraisal
	url = git@github.com:xmarts/xmarts_branch_appraisal.git
	branch = 14.0
[submodule "xmarts/xma_project_state_classification"]
	path = xmarts/xma_project_state_classification
	url = git@github.com:xmarts/xma_project_state_classification.git
	branch = 14.0-cesar