[submodule "xmarts/xma-service-desk-ata"]
	path = xmarts/xma-service-desk-ata
	url = git@github.com:xmarts/xma-service-desk-ata.git
	branch = 14.0

[submodule "xmarts/xmarts-employee-information-csbp"]
	path = xmarts/xmarts-employee-information-csbp
	url = git@github.com:xmarts/xmarts-employee-information-csbp.git
	branch = 14.0

[submodule "xmarts/multi-branch"]
	path = xmarts/multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/xma-service-desk"]
	path = xmarts/xma-service-desk
	url = git@github.com:xmarts/xma-service-desk.git
	branch = 14.0

[submodule "xmarts/xma-medical-core"]
	path = xmarts/xma-medical-core
	url = git@github.com:xmarts/xma-medical-core.git
	branch = 14.0

[submodule "xmarts/xma_medical_core_bo"]
	path = xmarts/xma_medical_core_bo
	url = git@github.com:xmarts/xma_medical_core_bo.git
	branch = 14.0

[submodule "xmarts/bi_odoo_multi_branch_hr"]
	path = xmarts/bi_odoo_multi_branch_hr
	url = git@github.com:xmarts/bi_odoo_multi_branch_hr.git
	branch = 14.0

[submodule "xmarts/xmarts_appraisal"]
	path = xmarts/xmarts_appraisal
	url = git@github.com:xmarts/xmarts_appraisal.git
	branch = 14.0

[submodule "xmarts/helpdesk_ticket_classification"]
	path = xmarts/helpdesk_ticket_classification
	url = git@github.com:xmarts/helpdesk_ticket_classification.git
	branch = 14.0

[submodule "xmarts/xma_viatical_control"]
	path = xmarts/xma_viatical_control
	url = git@github.com:xmarts/xma_viatical_control.git
	branch = 14.0

[submodule "xmarts/xmarts_branch_appraisal"]
	path = xmarts/xmarts_branch_appraisal
	url = git@github.com:xmarts/xmarts_branch_appraisal.git
	branch = 14.0
[submodule "xmarts/xma-gastos"]
	path = xmarts/xma-gastos
	url = git@github.com:xmarts/xma-gastos.git
	branch = 14.0

[submodule "xmarts/sh-message"]
	path = xmarts/sh-message
	url = git@github.com:xmarts/sh-message.git
	branch = 14.0

[submodule "xmarts/xma_poa"]
	path = xmarts/xma_poa
	url = git@github.com:xmarts/xma_poa.git
	branch = 14.0-cesar

[submodule "xmarts/xma_pei"]
	path = xmarts/xma_pei
	url = git@github.com:xmarts/xma_pei.git
	branch = 14.0-cesar

[submodule "xmarts/xma_project_classification"]
	path = xmarts/xma_project_classification
	url = git@github.com:xmarts/xma_project_classification.git
	branch = 14.0-cesar

[submodule "xmarts/xma_project_state"]
	path = xmarts/xma_project_state
	url = git@github.com:xmarts/xma_project_state.git
	branch = 14.0-cesar

[submodule "xmarts/xma_project_state_classification"]
	path = xmarts/xma_project_state_classification
	url = git@github.com:xmarts/xma_project_state_classification.git
	branch = 14.0-cesar